// QUICK SETTINGS ///////////////////////////////////
$em-base            : 16px;
$body-bg            : #fff !default;
$coloredText        : #336699;
$linkColor          : saturate($coloredText, 15%);
$linkHoverColor     : saturate($coloredText, 15%);
$highText           : saturate(lighten($coloredText, 15%), 40%);;
$headingsFont       : "Helvetica", "Helvetica Neue", "Lato", Helvetica, Arial, sans-serif;
$body-font-family   : sans-serif;
$body-font-color    : #666;
@include establish-baseline;

// BASE CLASSES ////////////////////////////////////////
$content-max-width: 640px;

html {
  font-size: $em-base;
}
body {
  background: $body-bg;
  color: $body-font-color;
  font-family: $body-font-family;
  -webkit-font-smoothing: antialiased;
}
h2, h3, h4{margin:0 0 1em 0;}
h1 {
  margin:0;
  @include adjust-font-size-to(48px);
  @include adjust-leading-to(.9);
}
h2 {
  @include adjust-font-size-to(20px);
  @include adjust-leading-to(.9);
}
h3 {
  @include adjust-font-size-to(16px);
  @include adjust-leading-to(.9);
}
h4 {
  @include adjust-font-size-to(14px);
  @include adjust-leading-to(.9);
  font-weight: normal;
}
p {
  margin: 0 0 1.5em 0;
}
a {
  &:link {color:$linkColor;}
  &:visited {color:$linkColor;}
  &:hover {color: $linkHoverColor};
  text-decoration: none;
}
ul {margin: 0; 
    padding: 0;
    display: inline-block;
}
li {
  margin: 0; padding: 0;
  float:left;
  list-style: none;
}
*, *:before, *:after {
  box-sizing: border-box;
    -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
}

.left         { float: left !important; }
.right        { float: right !important; }
.hide         { display: none; }

// media //

img, object, embed {
    height: auto;
    max-width: 100%;
}

.credit{
  text-align: right;
  @include adjust-font-size-to(11px);
  @include adjust-leading-to(.9);
}

.caption{
  @include adjust-font-size-to(12px);
  @include adjust-leading-to(.9);
}

// SINGULARITY VARS ///////////////////////////////////
$small-bp: 320px;
$medium-bp: 640px;
$large-bp: 1024px;

$small-cols: 6;
$medium-cols: 8;
$large-cols: 12;

$output: 'float';
$gutters: .2;
$grids: 4;
$grids: add-grid($small-cols at $small-bp);
$grids: add-grid($medium-cols at $medium-bp);
$grids: add-grid($large-cols at $large-bp);





