// Base classes, resets, and variables that do //////////
// not change via config settings or js events //////////

// QUICK SETTINGS ///////////////////////////////////
$em-base            : 16px;
$article-bg-color   : #fff !default;
$coloredText        : #336699;
$linkColor          : saturate($coloredText, 15%);
$linkHoverColor     : saturate($coloredText, 15%);
$highText           : saturate(lighten($coloredText, 15%), 40%);;
$article-font-family   : "Times New Roman","Times", serif;
$article-font-color    : #000;
$sans-serif-font-family :  "Oswald", "Helvetica", "Helvetica Neue", "Lato", Helvetica, Arial, sans-serif;
$serif-font-family :  "Lora", "Georgia", "Times New Roman","Times",serif;
@include establish-baseline;

$content-max-width: 640px;

// BASE CLASSES ////////////////////////////////////////

article.longformjs {
  font-size: $em-base;
  color: $article-font-color;
  font-family: $article-font-family;
  -webkit-font-smoothing: antialiased;

  background: $article-bg-color;
  min-width: 300px;
  min-height: 100%;
}
h1 {
  font-family: $sans-serif-font-family;
  font-weight: 700; 
  margin: 0 auto;
  max-width: $content-max-width;
}
h2, h3, h4{
  font-family: $sans-serif-font-family;
  font-weight: 300;
  margin:0 auto 1em;
  max-width: $content-max-width; 
}
h1{
  @include adjust-font-size-to(64px);
  @include adjust-leading-to(.9);
}
h2 {
  @include adjust-font-size-to(22px);
  @include adjust-leading-to(.9);
}
h3 {
  @include adjust-font-size-to(18px);
  @include adjust-leading-to(.9);
}
h4 {
  @include adjust-font-size-to(14px);
  @include adjust-leading-to(.9);
}
p {
  margin: 0 auto 1.5em;
  line-height:1.5em;
  max-width: $content-max-width;
}
a {
  &:link {color:$linkColor;}
  &:visited {color:$linkColor;}
  &:hover {color: $linkHoverColor};
  text-decoration: none;
}
ul {margin: 0; 
    padding: 0;
    display: inline-block;
}
li {
  margin: 0; padding: 0;
  float:left;
  list-style: none;
}
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.left  { float: left !important; }
.right { float: right !important; }
.hide  { display: none; }

// media //
img, object, embed {
    height: auto;
    max-width: 100%;
}

// SINGULARITY VARS ///////////////////////////////////
$small-bp: 320px;
$medium-bp: 640px;
$large-bp: 1024px;

$small-cols: 6;
$medium-cols: 8;
$large-cols: 12;

$output: 'float';
$gutters: .2;
$grids: 4;
$grids: add-grid($small-cols at $small-bp);
$grids: add-grid($medium-cols at $medium-bp);
$grids: add-grid($large-cols at $large-bp);





