// Component-specific styles & configurable options /////////

// MASTHEAD //////////////////////////

.component-masthead{

  background: #eee;

  h1{
    color: #333;
    text-shadow: 3px 3px 5px #ccc;
  }

  h2{
    color:#aaa;
  }

  &.serif {
    h1, h2 {font-family: $serif-font-family;}
  }

  &.sans-serif{
    h1, h2{font-family: $sans-serif-font-family;}
  }

  .byline {
    color:#666;
    text-align:right;
    border-top: solid 1px white;
    padding: 4px;
    font-style: italic;

    .author{
      font-weight: bold;
    }
  }
}

// IMAGE //////////////////////

.component-image{

  .component-image-info{
    background: #eee;
    padding: .5em 0 1em;

    p{
      margin-top:0;
      margin-bottom:0;
    }

    .caption{ padding-top: .5em; }
  }

  .component-image-image{

    /* Default 'inline' position */
    background: #222;
    img{
      margin: 0 auto;
      display: block;
    }

    /* Optional 'fixed' position */
    &.fixed{
      display: block;
      position: relative;
      background-color: transparent;
      background-size: cover;
      background-attachment: fixed;
      padding-bottom: 45%;
      background-position: center center;
    }
  }
}

