// Central styles that are not specific to /////
// any component or configurable setting   /////

article.longformjs {

  @include breakpoint($large-bp) {
    margin-left: auto;
    margin-right: auto;
  }

  section{
    margin: 20px 0;

    p{
      @include adjust-font-size-to(20px);
      @include adjust-leading-to(.9);
    }
  }

  footer{
    background: #eee;
  }

  .credit{
    font-family: sans-serif;
    text-align: right;
    @include adjust-font-size-to(11px);
    @include adjust-leading-to(.9);
    text-transform:uppercase;
    color: #aaa;
  }

  .caption{
    font-family: sans-serif;
    @include adjust-font-size-to(14px);
    @include adjust-leading-to(.9);
    color: #666;
    line-height:normal;
  }
}